<!DOCTYPE html>
<html>
<head>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js></script>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/editor.css">
</head>

<body onload="ready()">
    <div class="btn-group" style="width:100%">
        <button id="Language" style="width:20%">Language</button>
        <button id="Scanner" style="width:20%">Scanner</button>
        <button id="Parser" style="width:20%">Parser</button>
        <button id="Code" style="width:20%">Code</button>
        <button id="Errors" style="width:20%">Errors</button>
    </div>
    <div id='container'>
        <div id='editor'> </div>
        <div id='result'> </div>
    </div>
    <footer id="footer">
        <button id="RUN" style="width:100%">Run Program</button>
    </footer>
    <script src='/javascripts/editor.js'></script>
</body>

</html>