<!DOCTYPE html>
<html>
<head>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js></script>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/editor.css">
</head>

<body onload="ready()">
    <div id='container'>
        <div id='editor'> </div>
        <div id='result'> </div>
    </div>
    <script src='/javascripts/editor.js'></script>
</body>

</html>